.userInfoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
}

.userInfoText{
    font-family: WorkSans;
    color: #97989F;
    line-height: 24px;
}

.userName{
    font-weight: 500;
}

.date{    
    font-weight: 400;
}

