@font-face {
    font-family: 'WorkSans';
    src: url('../../../../public/fonts/WorkSans-Regular.woff2') format('woff2'),
      url('../../../../public/fonts/WorkSans-Regular.woff') format('woff'),
      url('../../../../public/fonts/WorkSans-Regular.ttf') format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'WorkSans';
    src: url('../../../../public/fonts/WorkSans-Medium.woff2') format('woff2'),
      url('../../../../public/fonts/WorkSans-Medium.woff') format('woff'),
      url('../../../../public/fonts/WorkSans-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }

.userInfoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
}

.userInfoText{
    font-family: WorkSans;
    color: #97989F;
    line-height: 24px;
}

.userName{
    font-weight: 500;
}

.date{    
    font-weight: 400;
}

