.aboutContainer{
    display: flex;
    flex-direction: column;
    max-width: 290px;
}

.description{
    margin-bottom: 20px;
}

.boldText{
    font-family: 'WorkSans';
    font-weight: 600;
    color: var(--main-text-color);
  }