.aboutContainer{
    display: flex;
    flex-direction: column;
    max-width: 290px;
}

.description{
    margin-bottom: 20px;
}

.boldText{
    font-family: 'WorkSans';
    font-weight: 600;
    color: var(--main-text-color);
  }

  @media(max-width:540px){
    .aboutContainer{
        max-width: 100%;
        margin-bottom: 15px;
    }
  }