@font-face {
    font-family: 'WorkSans';
    src: url(assets/3804a4b3998d42d072fe.woff2) format('woff2'),
      url(assets/0f1d546de5035c211aad.woff) format('woff'),
      url(assets/7c5aca8a8c320a8df026.ttf) format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WorkSans';
    src: url(assets/45ee0967de1e4bf12478.woff2) format('woff2'),
      url(assets/2047362ed7b2f8c6f0be.woff) format('woff'),
      url(assets/905f58df4c3ad21ca78d.ttf) format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'WorkSans';
    src: url(assets/02545a07b02716ab94fa.woff2) format('woff2'),
      url(assets/3210d2c2471a1ea2078b.woff) format('woff'),
      url(assets/6059d691b0223afc6cc5.ttf) format('ttf');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }

html {
    height: 100%;
    background-color: var(--background-main-color);
    transition: var(--change-theme-duration);
}

body {
    height: 100%;
}

ul{
    list-style: none;
}

#app {
    height: 100%;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
}

:root{
    --background-main-color:white;
    --background-secondary-color:#F6F6F7;
    --background-toggle-color: #E8E8EA;
    --logo-fill-color: #141624;
    --align-toggle-item: left;
    --main-text-color: #181A2A;
    --secondary-text-color: #696A75;
    --tertiary-text-color: #3B3C4A;
    --border-color-primary:#E8E8EA;
    --box-shadow-primary: 0px 12px 24px -6px var(--border-color-primary);
    --change-theme-duration: 0.5s;
}

[data-theme="dark"]{
    --background-main-color:#181A2A;
    --background-secondary-color:#141624;
    --background-toggle-color: #4B6BFB;
    --logo-fill-color: #4B6BFB;
    --align-toggle-item: right;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #97989F;
    --tertiary-text-color: #BABABF;
    --border-color-primary:#242535;
    --box-shadow-primary: 0px 12px 24px -6px var(--border-color-primary);
}
.sHk7xzltHwD581IOeoko {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
  }
  
  .sHk7xzltHwD581IOeoko th, .sHk7xzltHwD581IOeoko td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .sHk7xzltHwD581IOeoko th {
    background-color: #F4F4F5;
    text-align: left;
  }
  .jCxuBwlgdq97fmtwbtNO {
    font-family: 'WorkSans';
    text-decoration: none;
    margin: 0;
    transition: var(--change-theme-duration);
  }

.IFHKwxsPimyKyZsosuuY{
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--main-text-color);
}

.M_8sc4lb1VTuHZ7WYv34{
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  line-height: 20px;
}

.ISL1dp9f7hlozMdB0fZf{
  color: var(--tertiary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

._bo6Vey7y4UOfbQiH_7y{
  padding-left: 6px;
  font-weight: 500;
  color: var(--main-text-color);
 
}

.MKbF68Qp21jOSPtR3Vnk{
  padding: 20px 0;
  font-size: 36px;
  line-height: 40px;
  color: var(--main-text-color);
}

.pEv2pKsJ8k9t7hVT8WWW{
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

.Z_UnnV2OcoBy5rZT9TxR{
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #696A75;
}

.FrAZc10ujwW66MjCKPuC{
  color: var(--logo-fill-color);
}

.FdzS6GJRino82evjqgrU{
  color: white;
}

.VVEw0B8JRipFBuaHu4bb{
  color: #4B6BFB;
}

.tWvCHVc0Sy5W9ij7oKy_{
  color: var(--main-text-color);
}

.xudkVsLwoc__q0IKNjvV{
  color: var(--secondary-text-color);
}

.URO2coMAPFv7fx5FF7Am{
  color: var(--tertiary-text-color);
}

.g2w5uRDY639yy3ni1JLQ{
  transition: 0.1s;
}

.g2w5uRDY639yy3ni1JLQ:hover{
  cursor: pointer;
  color: #4B6BFB;
}

@media (max-width:540px){
  .IFHKwxsPimyKyZsosuuY{
    font-size: 16px;
  }

.M_8sc4lb1VTuHZ7WYv34{
  font-size: 12px;
}

  ._bo6Vey7y4UOfbQiH_7y{
    font-size: 20px;
    font-weight: 500;   
  }

  .MKbF68Qp21jOSPtR3Vnk{
    font-size: 20px;
    line-height: 28px;
    padding: 15px 0;
  }
}
.XO425ltht4JaFueO_rDA {
    width: 100%;
    height: auto;
  }
.U4mbw_IbvXLHiHAwW4re {
    position: absolute;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .peENypWieb4tzKRl7pPt {
    max-width: 200px; /* Adjust this value as needed */
    max-height: 200px; /* Adjust this value as needed */
  }
.OFjzSs8TACkweOucGeAJ{
    border-radius: 5px;   
    padding-left: 10px; 
    padding-right: 30px;
    border: 0px;
    height: 36px;
    width: 156px;
    background: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\"><path d=\"M6.90906 2C5.93814 2 4.98903 2.28791 4.18174 2.82733C3.37444 3.36674 2.74524 4.13343 2.37368 5.03045C2.00213 5.92746 1.90491 6.91451 2.09433 7.86677C2.28375 8.81904 2.75129 9.69375 3.43783 10.3803C4.12438 11.0668 4.99909 11.5344 5.95135 11.7238C6.90362 11.9132 7.89067 11.816 8.78768 11.4444C9.6847 11.0729 10.4514 10.4437 10.9908 9.63639C11.5302 8.8291 11.8181 7.87998 11.8181 6.90906C11.818 5.60712 11.3008 4.35853 10.3802 3.43792C9.45959 2.51731 8.211 2.00008 6.90906 2Z\" stroke=\"%2352525B\" stroke-width=\"1.5\" stroke-miterlimit=\"10\"/><path d=\"M10.5715 10.5716L14 14\" stroke=\"%2352525B\" stroke-width=\"1.5\" stroke-miterlimit=\"10\" stroke-linecap=\"round\"/></svg>");
    background-repeat: no-repeat; 
    background-position: 90% center;
    background-color: #F4F4F5;
}

.OFjzSs8TACkweOucGeAJ:focus{
    outline: 1px solid #007BFF; /* Убирает обводку по умолчанию в некоторых браузерах */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

@media(max-width:540px){
    .OFjzSs8TACkweOucGeAJ{
        width:85%;
        padding-right: 5px;
    }
}

.vmfvIEIgnp6ANTO5bAiX{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VEK0hKA10YWRY69tdaMo{
    color: #4B6BFB;
}

/* @media(max-width:540px){
    .container{
        max-width: 125px;
    }
   
} */
.dpsiJE7Qp0MAlXEdLSLw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ZuTlpPb36i1fiNlMSZMf{
    display: flex;
    align-items: center;
}

@media(max-width:540px){
    .dpsiJE7Qp0MAlXEdLSLw{
        flex-direction: column;
        justify-items: center;
        flex-wrap: nowrap;
        
    }
    .r0lWW2sdu1w3W05ZNPPN{
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}
.juEYCZAsk1fkdnbAXLHo{
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 100px;
    border: 0px;
    width: 48px;
    height: 28px;
    background-color: var(--background-toggle-color);
    justify-content: var(--align-toggle-item);
}

.LOLGtQ5QhAppyc6rV_83{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    background-color: var(--background-main-color);
    border-radius: 100px;
    border: 0px;
}

.LOLGtQ5QhAppyc6rV_83:hover{
    cursor: pointer;
}

.juEYCZAsk1fkdnbAXLHo.GwF6qyGSqHHFvz2nCZ7R{
justify-content: right;
height: 100px;
background-color: yellow;
}  

.juEYCZAsk1fkdnbAXLHo.TNoTS1g_a0xeHCxR6l8n{
  justify-content: left;
height: 100px;
background-color: red;
}

.Xcecq8wSKQ1XU7qLNrKv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
  max-width: 1220px;
}

@media(max-width:768px){
  .Xcecq8wSKQ1XU7qLNrKv{
    margin: 0.8rem auto 0 auto;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

