.smallContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stick{
    line-height: 16px;
    border: 0;
    border-right: 1.5px solid var(--border-color-primary);
    transition: var(--change-theme-duration);
}