.footerContainer {
    margin-top: 80px;
    padding: 20px;
    height: 400px;
    background-color: var(--background-secondary-color);
    transition: background-color var(--change-theme-duration);
  }
  
  .footerContent {
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 30px;
  }
  
  .footerTopContent {
    display: flex;    
    padding-bottom: 45px;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color-primary);
  }
  
  .title{
    font-family: 'WorkSans';
    margin: 0;
    margin-bottom: 25px;
  }

  .text {
    font-family: 'WorkSans';
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
      color: #3B3C4A;
      text-decoration: none;
    }
  
    .textDecoration{
      color: #696A75;
    }



    .list{
      list-style-type: none;
      padding: 0;
    }
  
    /* .list{
      display: flex;
      flex-direction: column;
    } */
  
    .list li:nth-last-child(n+2) {
      margin-bottom: 10px;
    }