@font-face {
  font-family: 'WorkSans';
  src: url('../../../public/fonts/WorkSans-Regular.woff2') format('woff2'),
    url('../../../public/fonts/WorkSans-Regular.woff') format('woff'),
    url('../../../public/fonts/WorkSans-Regular.ttf') format('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../../../public/fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('../../../public/fonts/WorkSans-SemiBold.woff') format('woff'),
    url('../../../public/fonts/WorkSans-SemiBold.ttf') format('ttf');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

.footerContainer {
    background-color: #F6F6F7; 
    margin-top: 80px;
    padding: 20px;
    height: 400px;
  }
  
  .footerContent {
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 30px;
  }
  
  .footerTopContent {
    display: flex;    
    padding-bottom: 45px;
    justify-content: space-between;
    border-bottom: 2px solid #E8E8EA;
  }
  
  .title{
    font-family: 'WorkSans';
    margin: 0;
    margin-bottom: 25px;
  }

  .text {
    font-family: 'WorkSans';
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
      color: #3B3C4A;
      text-decoration: none;
    }
  
    .textDecoration{
      color: #696A75;
    }



    .list{
      list-style-type: none;
      padding: 0;
    }
  
    /* .list{
      display: flex;
      flex-direction: column;
    } */
  
    .list li:nth-last-child(n+2) {
      margin-bottom: 10px;
    }