.footerContainer {
    background-color: #E8E8EA; /* серый фон */
    padding: 20px; /* или другие значения внутренних отступов по вашему усмотрению */
    height: 400px;
  }
  
  .footerContent {
    max-width: 1200px; /* или другие значения максимальной ширины по вашему усмотрению */
    margin: 0 auto; /* центрирование блока по горизонтали */
  }