.titleBlock {
  position: absolute;
  left: 5%;
  top: 55%;
    max-width: 600px;
    border-radius: 12px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: var(--background-main-color);   
    box-shadow: var(--box-shadow-primary);
    transition: var(--change-theme-duration);
  }
  
.blockContent{
  margin: 20px 30px;
}

  .titleTheme {
    display: inline-block;
    background-color: #4B6BFB;
    max-width: 97px;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
  }
  
.ThemeText{
  font-family: 'WorkSans';
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  line-height: 20px;
}
  
  .titleHeader h1 {
    margin: 0;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .date {
    color: #888;
  }

  .h1{
    font-family: 'WorkSans';
    font-weight: 600;
    line-height: 40px;
  }
  