.titleBlockMain {
  position: absolute;
  left: 5%;
  top: 55%;
    max-width: 600px;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--background-main-color);   
    box-shadow: var(--box-shadow-primary);
    transition: var(--change-theme-duration);
  }
  
  .titleBlockSecondary {
    position: absolute;
    top: 55%;
    max-width: 770px;
    }

.blockContent{
  margin: 20px 30px;
}

  .titleTheme {
    display: inline-block;
    background-color: #4B6BFB;
    max-width: 97px;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
  }
  
.ThemeText{
  font-family: 'WorkSans';
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  line-height: 20px;
}
  

  
  .content {
    display: flex;
    align-items: center;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .date {
    color: #888;
  }
  
  @media (max-width: 540px){
    .titleBlockMain{
      max-width: 80%;
      padding: 5px;
    }

    .blockContent{
      margin: 10px 5px;
    }



  }