

.a:hover{
  color: #4B6BFB;
  transition: 0.3s;
}

  .list{
    display: flex;
    flex-direction: row;
  }

  .list >:nth-last-child(n+2) {
    margin-right: 25px;
  }

  @media (max-width:540px){
    .list{
      flex-direction: column;
      margin-top: 60px;
    }
    .list >:nth-last-child(n+2) {
      margin-bottom: 25px;
    }
  }